

.contenedor {

    border: 10px solid black;
    width: 510px;
    height: 510px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    justify-content: space-between;
    border-radius: 1000px;
    background-color: black;
<<<<<<< HEAD
    
    
=======
    margin-top: 50px;
>>>>>>> cabecera
}

.cabecera {

<<<<<<< HEAD
    text-align: center;
    font-style: italic;
    font-size: 30px;

   
=======
 border: 1px solid black;
 width: 250px;
 height: 37px;
 margin: auto;

}

.cabecera h1 {
margin: auto;
text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-style: italic;
color: rgb(133, 13, 13);
background-color: black;
>>>>>>> cabecera
}

.caja1 {

    border: 2px solid red;
    height: 250px;
    width: 250px;
    border-radius: 1000px;
    background-color: red;
     text-align: center;
    
}

.caja2 {

    border: 2px solid red;
    height: 250px;
    width: 250px;
     border-radius: 1000px;
     background-color: red;
     text-align: center;

}

.caja3 {

    border: 2px solid red;
    height: 250px;
    width: 250px;
     border-radius: 1000px;
     background-color: red;
      text-align: center;
}

.caja4 {

    border: 2px solid red;
    height: 250px;
    width: 250px;
     border-radius: 1000px;
     background-color: red;
      text-align: center;

}


.texto {
    padding-top: 80px;
    font-size: 30px;
    font-weight: bold;
}